<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yuttadhammo.BodhiTimer"
    android:versionCode="78"
    android:versionName="5.4.1">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/preferences"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TimerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NNumberPicker"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".AdvNumberPicker"
            android:label="@string/advanced"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".widget.BodhiAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.yuttadhammo.BodhiTimer.ACTION_CLOCK_UPDATE" />
                <action android:name="org.yuttadhammo.BodhiTimer.ACTION_CLOCK_CANCEL" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bodhi_appwidget_info" />
        </receiver>

        <activity android:name=".widget.AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".TimerReceiver" />

        <service android:name=".TTSService" />
    </application>

</manifest>